* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(0, 171, 0);
}

.container {
    text-align: center;
    padding: 3rem;
}

h1 {
    color: rgb(255, 209, 2);
    font-size: 4rem;
    padding: 1rem;
}

#message-el {
    font-style: italic;
}

p {
    color: #fff;
    font-size: xx-large;
    padding: 1rem;
}

.btn {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

button {
    color: #016f32;
    width: 150px;
    background: goldenrod;
    padding: 5px 0;
    font-weight: bold;
    border: none;
    border-radius: 0.2rem;
}

button:hover {
    background: gold;
}